{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "printWidth": 120,
  "htmlWhitespaceSensitivity": "ignore"
}
