* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
}

section {
  margin: 1rem;
  width: 100%;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

.project-list {
  display: flex;
  justify-content: center;
}

.project {
  background-color: #444;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  margin: 1rem;
  padding: 1rem;
  width: 100%;
}

.sub-project {
  margin: 0.5rem;
}

.sub-project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
