* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif;
}

.bttonInfo {
	width: 50%;
	justify-content: center;
	flex-direction: column;
	display: flex;
}