// Variables
$primary-color: #3882f6;
$bg-gray: #e5e7eb;
$bg-black: #1f2937;
$text-gray: #e5e7eb;
$text-dark: #474d55;
$text-black: #1f2937;
$text-white: #f9faf8;

.landing-container {
  // Global Resets
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
  }

  // Layout Properties
  .normal-width {
    width: 1200px;
    margin: 0 auto;
  }

  body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  // Common Components
  .button,
  .button-blue {
    border: none;
    padding: 10px;
    border-radius: 8px;
    background-color: $primary-color;
  }

  .button-blue {
    border: 2px solid $text-white;
  }

  // Background Modifiers
  .main,
  .bg-full-black,
  .bg-full-gray {
    width: 100%;
  }

  .bg-full-gray {
    background-color: $bg-gray;
  }

  .bg-full-black {
    background-color: $bg-black;
  }

  // Header Styles
  .header-tabs {
    display: flex;
    align-items: center;

    .logo-text {
      margin-right: auto;
      color: $text-white;
      font-size: 24px;
    }

    li {
      margin-top: 24px;
      padding: 10px;
    }
  }

  // Text Modifiers
  .plain-text {
    color: $text-gray;
    font-size: 18px;
  }

  .quote-text {
    color: $text-dark;
    font-size: 36px;
    font-style: italic;
  }

  .quote-text-ps {
    color: $text-black;
    padding-top: 8px;
    font-size: 24px;
    text-align: right;
  }

  .header-white-text {
    color: $text-white;
    font-size: 48px;

    .header-black-text {
      font-weight: bolder;
    }
  }

  // Main Blocks
  .normal-width.first-main {
    display: flex;
    padding: 64px 0;
    align-items: center;
    gap: 36px;
  }

  .text-block {
    flex: 1;

    .plain-text {
      margin: 12px 0;
    }
  }

  .first-main img {
    flex: auto;
  }

  .second-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    text-align: center;
    color: $text-white;

    .img-bar ul {
      margin-top: 24px;
      display: flex;
      justify-content: center;
      gap: 46px;

      li {
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        flex: 0;

        img {
          border-radius: 15px;
        }
      }
    }
  }

  .gray-block {
    padding: 64px;
    max-width: 900px;
  }

  .blue-block {
    border-radius: 20px;
    padding: 40px 120px;
    margin: 64px;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer {
    padding: 25px;
    text-align: center;
  }
}
