* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: #0f0;
  font-family: 'VT323', monospace;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.left-side {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.logo {
  position: absolute;
  background: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60%;
  z-index: 2;
}

.logo-text {
  position: absolute;
  background: black;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  top: 50%;
  left: 50%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

canvas {
  display: block;
}

.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  margin: 0 auto;
  background-color: black;
  padding: 82px;
}

label {
  font-size: 1.2rem;
  cursor: pointer;
}

input {
  padding: 8px;
  font-family: 'VT323', monospace;
  font-size: 1rem;
  background-color: #000;
  color: #0f0;
  border: 1px solid #025a02;
}

input:focus {
  border-color: #0f0;
  outline: none;
}

button {
  padding: 10px;
  font-family: 'VT323', monospace;
  font-size: 1.2rem;
  background-color: #000;
  color: #0f0;
  border: 1px solid #0f0;
  cursor: pointer;
}

button:hover {
  border-color: #00ff00;
}

button:focus {
  outline: none;
}

.error {
  color: #f00;
  font-size: 1rem;
}
