// Defines the layout and behavior of the settings menu
.settings-menu {
  position: relative;
  width: 100%;
  padding-top: 10px;

  // Positions the settings icon and defines its appearance
  .settings-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 2;

    .material-symbols-outlined {
      font-size: 24px;
      color: black;
    }
  }

  // Controls the display and styling of the collapsible settings content area
  .settings-content {
    display: none;
    position: absolute;
    top: 48px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
    padding: 10px;
    border-radius: 8px;
    width: fit-content;

    &.active {
      display: flex;
      align-items: center;
    }

    // Defines the look and feel of the input field within the settings content
    input[type='text'] {
      background-color: rgba(34, 34, 34, 0.5);
      color: black;
      padding: 5px;
      border-color: black;
      border: none;
      border-radius: 4px;
      margin-right: 10px;
    }

    // Styles the search and toggle buttons to match the overall design
    .search-button,
    .unit-toggle-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
