// Settings Menu Styles
.settings-menu {
  position: relative;
  width: 100%;
  padding-top: 10px;

  // Icon for accessing the settings
  .settings-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 2;

    // Style for the settings icon
    .material-symbols-outlined {
      font-size: 24px;
      color: #50fa7b;
    }
  }

  // Content area for settings controls
  .settings-content {
    display: none;
    position: absolute;
    top: 48px;
    left: 0;
    padding: 10px;
    border-radius: 8px;
    width: fit-content;

    // Active state for displaying the settings content
    &.active {
      display: flex;
      align-items: center;
    }

    // Input field within settings
    input[type='text'] {
      background-color: #6272a4;
      color: #50fa7b;
      padding: 5px;
      border: none;
      border-radius: 4px;
      margin-right: 10px;
    }

    input::placeholder {
      color: #50fa7b;
    }

    // Buttons for actions like search and unit toggle
    .search-button,
    .unit-toggle-button {
      color: #50fa7b;
      background-color: transparent;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      // Hover state for buttons
      &:hover {
        background-color: #ff79c6;
      }
    }
  }
}
