.header {
  font-size: 36px;
  margin: 26px 0;
  color: white;
}

@media (max-width: 800px) {
  .header {
    font-size: 34px;
    margin: 24px 0;
  }
}

.input {
  display: flex;
  width: 50%;
  position: relative;
  align-items: center;
  margin-bottom: 26px;
}

.input__box {
  width: 100%;
  padding: 12px 16px;
  font-size: 18px;
  border: none;
  transition: 0.2s;
  color: black;
  font-family: 'Press Start 2P';
}

.input__box::placeholder {
  color: plum;
}

.input_submit {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50px;
  color: white;
  background-color: black;
  border: none;
  font-size: 15px;
  transition: 0.2s;
  cursor: pointer;
  font-family: 'Press Start 2P';
}

.input_submit:hover {
  background-color: hotpink;
}

.input_submit:active {
  transform: scale(0.8);
}

.input__box:focus {
  outline: none;
}

.todos {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.todos__single {
  display: flex;
  padding: 18px 24px;
  margin-top: 24px;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
}

.icon {
  margin-left: 8px;
  transition: 0.2s;
  cursor: pointer;
}

.icon:hover {
  color: hotpink !important;
}

.global-class-name:active {
  transform: scale(0.8);
  transition: 0.2s;
}

.todos__single--text--done {
  text-decoration: line-through;
  transform: scale(0.8);
  color: white;
  transition: 0.2s;
}

.todo__input {
  border: none;
  transition: 0.2s;
  font-size: 16px;
  font-family: 'Press Start 2P';
  background-color: transparent;
  padding: 0;
}


.todo__input:focus {
  outline: none;
}

.todos__single--text {
  transition: 0.2s;
}
