* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid salmon;
  padding: 14px;
  margin: 21px 0px;
  width: 100%;
}

.post__text {
  max-width: 556px;
}
