.main-weather-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .location {
    font-size: 2rem;
    color: #ff79c6;
  }

  .main-info-container {
    display: flex;
  }

  .error {
    color: #ff5555;
    font-size: 1.2rem;
  }

  .temperature {
    font-size: 8rem;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 1rem;
    color: #ff79c6;

    .degree-symbol {
      font-size: 2rem;
      position: relative;
      top: -3rem;
      margin-left: -1rem;
    }
  }

  .temperature-section {
    justify-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .divider {
    height: 100%;
    border-left: 1px solid #6272a4;
    margin: 0 1rem;
  }

  .main-info-containder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }

  .feels,
  .weather-meme-section {
    color: #8be9fd;
  }

  .details {
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    flex-direction: column;

    .detail {
      margin: 0 1rem;
      text-align: center;
      color: #bd93f9;
      margin-bottom: 1rem;
    }
  }

  .date {
    font-size: 1rem;
    color: #8be9fd;
    margin-bottom: 2rem;
  }
}
