.landing-container {
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
  }

  body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .button {
    background-color: #3882f6;
    border: none;
    padding: 10px;
    border-radius: 8px;
  }

  .main,
  .bg-full-black,
  .bg-full-gray {
    width: 100%;
  }

  .bg-full-gray {
    background-color: #e5e7eb;
  }

  .bg-full-black {
    background-color: #1f2937;
  }

  .header-tabs .logo-text {
    margin-right: auto;
  }

  .normal-width {
    width: 1200px;
    margin: 0 auto;
  }

  /* Header */

  .header-tabs {
    display: flex;
    align-items: center;
  }

  .header-tabs li {
    margin-top: 24px;
    padding: 10px;
  }

  /* Text */

  .plain-text {
    color: #e5e7eb;
    font-size: 18px;
  }

  .quote-text {
    color: #474d55;
  }
  .quote-text-ps {
    color: #1f2937;
  }

  .logo-text,
  .header-white-text {
    color: #f9faf8;
  }

  .header-white-text .header-black-text {
    font-weight: bolder;
  }

  .header-white-text {
    font-size: 48px;
  }

  .logo-text {
    font-size: 24px;
  }

  .header-black-text,
  .quote-text {
    font-size: 36px;
  }

  .quote-text {
    font-style: italic;
  }

  /* First main block */

  .normal-width.first-main {
    display: flex;
    padding: 64px 0;
    align-items: center;
    gap: 36px;
  }

  .text-block {
    flex: 1;
  }

  .text-block .plain-text {
    margin: 12px 0;
  }

  .first-main img {
    flex: auto;
  }

  .quote-text-ps {
    padding-top: 8px;
    font-size: 24px;
    text-align: right;
  }

  /* Second main block */

  .second-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    text-align: center;
  }

  .img-bar ul {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap: 46px;
  }

  .img-bar ul li {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    flex: 0;
  }

  .img-bar ul li img {
    border-radius: 15px;
  }

  /* Gray block */

  .gray-block {
    padding: 64px;
    max-width: 900px;
  }

  /* Blue block */

  .blue-block {
    border-radius: 20px;
    padding: 40px 120px;
    margin: 64px;
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .button-blue {
    background-color: #3882f6;
    border: 2px solid white;
    padding: 10px;
    border-radius: 8px;
  }

  .footer {
    padding: 25px;
    text-align: center;
  }
}
