.restaurant-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  font-family: 'Pacifico', cursive;

  .tab-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;

    .tab-button {
      background: none;
      color: #e6e6fa;
      border: none;
      font-size: 1.3em;
      font-family: 'Pacifico', cursive;
      cursor: pointer;
      margin: 0 1em;
      padding-bottom: 0.5em;
      position: relative;
      outline: none;

      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background: blueviolet;
        transition: width 0.3s;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      &.active:after {
        width: 100%;
      }
    }
  }

  .content {
    width: 90%;
    max-width: 800px;
  }
}
