.toDoapp {
  $dracula-bg: #282a36;
  $dracula-current-line: #44475a;
  $dracula-selection: #44475a;
  $dracula-fg: #f8f8f2;
  $dracula-comment: #6272a4;
  $dracula-cyan: #8be9fd;
  $dracula-green: #50fa7b;
  $dracula-orange: #ffb86c;
  $dracula-pink: #ff79c6;
  $dracula-purple: #bd93f9;
  $dracula-red: #ff5555;
  $dracula-yellow: #f1fa8c;

  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: $dracula-current-line;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: $dracula-fg;
  font-family: Arial, sans-serif;

  button {
    padding: 8px 12px;
    margin-left: 10px;
    background-color: $dracula-purple;
    color: $dracula-bg;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    & + button {
      background-color: $dracula-red;
    }

    & + button:hover {
      background-color: $dracula-orange;
    }

    &:hover {
      background-color: $dracula-pink;
    }
  }

  h1 {
    color: $dracula-pink;
    text-align: center;
  }

  h2 {
    color: $dracula-purple;
  }

  form {
    flex-wrap: nowrap;
    display: flex;

    input {
      width: 100%;
    }
  }

  input[type='text'] {
    padding: 8px;
    border: 1px solid $dracula-comment;
    border-radius: 4px;
    background-color: $dracula-bg;
    color: $dracula-fg;
  }

  input[type='checkbox'] {
    margin-right: 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    li {
      display: flex;
      justify-content: space-between;
    }
  }

  li {
    padding: 10px 0;
    border-bottom: 1px solid $dracula-comment;

    &:last-child {
      border-bottom: none;
    }
  }

  span {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
