.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.infoButton {
  height: 120px;
  display: flex;
  text-align: center;
  justify-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.colorButton {
  align-items: center;
  height: 80px;
  width: 200px;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.btn1,
.btn2,
.btn3,
.btn4 {
  background-color: #a55ab8;
  font-size: medium;
  padding: 5px;
  border-radius: 8px;
  color: white;
  border: none;
  transition: all 0.2s;
  border: 1px solid white;
}

.btn1:hover,
.btn2:hover {
  background-color: #c280d3;
}

.btn1:active,
.btn2:active {
  background-color: #da47ff;
}

.btn2 {
  width: 150px;
}
