.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.infoButton {
  width: 20vh;
  height: 15vh;
  display: flex;
  text-align: center;
  justify-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.colorButton {
  width: 30vh;
  height: 10vh;
  display: flex;
  text-align: center;
  justify-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.btn1 {
  background-color: rgb(165, 90, 184);
  font-size: medium;
  padding: 5px;
  border-radius: 8px;
  color: white;
  border: none;
  transition: all 0.2s;
  border: 1px solid white;
}

.btn2 {
  background-color: rgb(165, 90, 184);
  font-size: medium;
  padding: 5px;
  border-radius: 8px;
  color: white;
  border: none;
  transition: all 0.2s;
  border: 1px solid white;
}

.btn1:hover,
.btn2:hover {
  background-color: rgb(194, 128, 211);
}

.btn1:active,
.btn2:active {
  background-color: rgb(218, 71, 255);
}
