@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.sign-up-form-container {
  display: flex;
  font-family: 'VT323', monospace;
  color: #0f0;
  margin: 0;
  height: 100vh;
  position: relative;
  min-height: 100vh;
  justify-content: space-between;

  * {
    box-sizing: border-box;
  }

  canvas {
    position: absolute;
    display: block;
    width: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .left-side {
    flex: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    position: relative;
    max-width: 60%;
    text-align: center;
  }

  .logo img {
    max-width: 100%;
  }

  .logo-text {
    font-size: 2rem;
  }

  .right-side {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.75);
  }

  label,
  input,
  button {
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
    color: #0f0;
  }

  label {
    cursor: pointer;
  }

  input {
    padding: 8px;
    background-color: #000;
    border: 1px solid #025a02;

    &:focus {
      border-color: #0f0;
      outline: none;
    }
  }

  button {
    padding: 10px;
    background-color: #000;
    border: 1px solid #0f0;
    cursor: pointer;

    &:hover {
      border-color: #00ff00;
    }

    &:focus {
      outline: none;
    }
  }

  .error {
    color: #f00;
    font-size: 1rem;
    margin-bottom: 12px;
  }

  @media only screen and (max-width: 768px) {
    flex-direction: column;

    .left-side,
    .right-side {
      flex: none;
      width: 100%;
    }

    .logo {
      max-width: 80%;
    }

    .logo-text {
      font-size: 1.5rem;
    }

    form {
      width: 80%;
      max-width: 300px;
    }
  }
}
