*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #B9B090, #DFDCD4, #D0CDBD);
}

button {
  all: unset;
}

.calculator {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.display {
  max-width: 400px;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  overflow: hidden;
  color: #22c722;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 20px;
  background-color: #292828;
  padding: 10px;
  border: 1px solid #222;
  border-radius: 10px;
  margin: 24px 24px;
}

.buttons {
  max-width: 400px;
  width: 100%;
  border: 10px solid #36352e;
  border-radius: 10px;
  display: grid;
  gap: 0 5px;
  place-items: center;
  grid-template-areas:
    'ac c vol git'
    'numLock divide multiply subtract'
    'seven eight nine add'
    'four five six add'
    'one two three enter'
    'zero zero dot enter';
  background: #36352e;
}

.buttons * {
  height: 100%;
  width: 100%;
}

.active, button:active {
  transform: scale(0.99, 0.99) translate(0, 1px);
  filter: brightness(0.98) sepia(0) hue-rotate(0deg) saturate(1);
  transition: 50ms;
}

#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#zero {
  grid-area: zero;
}
#add {
  grid-area: add;
}
#minus {
  grid-area: minus;
}
#enter {
  grid-area: enter;
}
#ac {
  grid-area: ac;
}
#c {
  grid-area: c;
}
#dot {
  grid-area: dot;
}
#enter {
  grid-area: enter;
}
#git {
  grid-area: git;
}
#vol {
  grid-area: vol;
}
#divide {
  grid-area: divide;
}
#numLock {
  grid-area: numLock;
}
#multiply {
  grid-area: multiply;
}
#vol {
  grid-area: vol;
}
