/* Global Styles */
* {
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
  margin: 0;
}

/* Form Controls */
input[type='text'] {
  background-color: #ddd;
  border: none;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 10px 20px;
  transition: 0.2s;
  width: 100%;
}

input[type='text']:focus {
  background-color: #f2f2f2;
  outline: none;
}

/* Container */
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  background: #282a36;
  padding: 20px;
}

.sidebar .logo,
.sidebar .nav,
.sidebar .settings {
  align-items: center;
  display: flex;
  font-weight: bold;
  gap: 15px;
  margin-bottom: 20px;
}

.sidebar .logo img {
  width: 50px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}

.sidebar ul li .material-icons {
  margin-right: 10px;
}

/* Main */
.main {
  display: grid;
  grid-template-rows: auto 1fr;
}

/* Header */
.header {
  background: #44475a;
  padding: 20px;
}

.header .top-bar,
.header .lower-bar {
  align-items: center;
  border-bottom: 1px solid #6272a4;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/* Search Bar */
.search-bar {
  align-items: center;
  display: flex;
  flex-grow: 1;
  margin-right: 20px;
  max-width: 650px;
}

.search-bar i {
  margin-right: 10px;
}

/* User Info */
.user-info {
  align-items: center;
  display: flex;
  margin-left: 20px;
}

/* Notifications */
.notifications {
  margin-left: auto;
}

.avatar-small,
.avatar-large {
  border-radius: 50%;
  margin-right: 10px;
}

.avatar-small {
  height: 30px;
  width: 30px;
}

.avatar-large {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

.lower-bar .user {
  align-items: center;
  display: flex;
}

.greeting h2 {
  margin: 0;
}

/* Buttons */
.btn {
  align-items: center;
  background: #6272a4;
  border: none;
  color: #f8f8f2;
  display: flex;
  margin-right: 10px;
  padding: 10px 20px;
}

.btn i {
  margin-right: 5px;
}

/* Content */
.content {
  background: #f8f8f2;
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
}

.main-content h2 {
  padding-bottom: 12px;
}

.my-projects {
  background: #44475a;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px;
}

.card {
  background: #f8f8f2;
  padding: 20px;
}

.card-actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* Right Sidebar */
.right-sidebar {
  background: #44475a;
  padding: 20px;
}

.announcements,
.statistics {
  background: #f8f8f2;
  margin-bottom: 20px;
  padding: 20px;
}
